/* Basic */
.mainbody > *{
    border-radius: 20px;
}

/* Nav  */
.nav{height:96px}
.navitems >*{
    flex: 1;
}


.user-cards{display:grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 0.25rem;
margin-top: 1rem;}
.card{border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 10px;
}
.card > .header{
    margin-bottom: .25rem;
}
.card > .body{
    font:var(--p);
    color: var(--p-color)
}
.hide{display:none}
/* Stories */
.carousel-custom {
  max-width: 100%;
}
.carousel-track {
  transition: transform 0.4s;
}
.carousel-item-custom {
  flex: 0 0 20%; /* 5 items per view */
  max-width: 20%;
  border-radius: 9px;
    flex: 0 0 auto;
    height:100%;
    background-color: var(--secondary-color);
  box-sizing: border-box;
  /* Add your styling here */
}
.story-pre,
.story-next {
  background: var(--main-color);
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  top:50%;
  transform: translateY(-50%);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;


}
.story-pre:disabled,
.story-next:disabled {
    display:none;
}
.story-pre{left:0}
.story-next{right:0}
.carousel-item-custom{
    width:18%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
} 

/* Leftsidebar */
.leftsidebar{
    width: 300px;
    height: 750px;
}

.elements{z-index: 2;}
.status{width:75px; 
height:50px;
text-align: center;
}
.ava{
    width:36%;
    height:130px;
    /* Xem chinh responsive cho cai tren de bi loi */
    background-color: black;
    border-radius: 10px;
}
.pic{width:90%;
    height:90%;
    border-radius: 10px;
}


/* Code sau */
.main{
    height:100%;
    width:570px
}
/* Code sau */


.rightsidebar{
    width: 248px;
    height: 750px;
    background-color: #282828;
}
.rightsidebar{
    display:flex;
    flex-direction: column;;

}
.placeholder{
    background-color: #AAAAAA;
}
.ac-com{
    height:15%;
    border-radius: 10px;
}
.header{font:var(--heading-6);
    color:var(--b-text-color) }

.main >*{border-radius: 20px;}
.profile{height:10%; 
    border:1px solid rgba(100, 99, 99, 0.432);
    border-radius: 20px/20px;

}
.list-group-item{
    display:flex;
    align-items: center;
    gap:15px
}
